<!DOCTYPE html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>
  <main>
  <div class="panel panel-primary" style="margin-left:10%;margin-right:10%;">
<div class="panel-heading">
  <h3>Welcome to Ticket Shop</h3>
</div></div>
<hr><br>

    <div class="container-fluid">
      <% if(product.length){ %>
        <div class="row">
          <% for(i=0;i < product.length;i++){ %>
            <div class="col-sm-4">
              <div class="panel panel-primary" style="opacity: 0.9;">
                <div class="panel-heading"><h3>Product Name: <%= product[i].productName %></h3></div>
                <div class="panel-body">

                  <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
 <thead>
   <tr>
     <th colspan="2" class="text-center">
       Ticket Details
     </th>
   </tr>
 </thead>
 <tbody>
                  <tr><td>Category:  </td><td><%= product[i].category %></td></tr>
                  <tr><td>Price: </td><td> £<%= product[i].price %></td></tr>
                  <tr><td>Location: </td><td> <%= product[i].location %></td></tr>
                  <tr><td>Date: </td><td><%= product[i].date %></td></tr>

                </tbody>
</table>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-info btn-lg" href="/product/single-product/<%= product[i]._id %>">View</a>
                    <a class="btn btn-danger btn-lg" href="/product/add-to-cart/<%= product[i]._id %>">Add To Cart</a>
                </div>
              </div>
            </div>
          <% } %>
        </div>
          <% if (pages > 0) { %>
          <ul class="pagination text-center">
            <% if (current == 1) { %>
              <li class="disabled"><a>First</a></li>
            <% } else { %>
              <li><a href="/1">First</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
              <li class="disabled"><a>...</a></li>
            <% } %>
            <% for(; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
              <% } else { %>
                <li><a href="/<%= i %>"><%= i %></a></li>
              <% } %>
              <% if ( i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
              <% } %>
            <% } %>
            <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
            <% } else { %>
              <li><a href="/<%= pages %>">Last</a></li>
            <% } %>
          </ul>
          <% } %>
      <% } else{ %>
        <p>No products available or added yet.</p>
      <% } %>
  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
