<!DOCTYPE html>
<html>

<head>
  <% include ./parts/head.ejs %>
</head>

<body>
  <% include ./parts/header.ejs %>

    <main>
      <div class="container-fluid">
        <div class="row">

          <div class="panel panel-primary" style="margin-left:10%;margin-right:10%;">
            <div class="panel-heading">
              <h2><%= product.productName %></h2>
            </div>
            <hr>
            <div class="panel-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-10">
                    <div class="table-responsive">
                      <table class="table table-bordered ">
                        <thead>
                          <tr>
                            <th class="text-center">
                              Product Image
                            </th>
                            <th class="text-center">
                              Product Details
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                            </td>
                            <td>
                              <div class="panel-body">
                                <ul>
                                  <li class="boxFl">Product:
                                    <%= product.productName %>
                                  </li>
                                  <li class="boxFl">Price: £
                                    <%= product.price %>
                                  </li>
                                <% if(product.quantity >= 1){ %>
                                    <li style="color:#196619;" class="boxFl">In Stock</li>
                                    <% } else{ %>
                                      <li style="color:#196619;" class="boxFl">Out Of Stock</li>
                                </ul>
                                <% } %>
                                  <hr>
                                  <a class="btn btn-info btn-lg" href="/product/add-to-cart/<%= product.id %>">Add To Cart</a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <h3 class="boxFl" style="text-align: center">Product Description</h3><br>
                              <ul>
                                <li class="boxFl">Category:
                                  <%= product.category %>
                                </li>
                                <li class="boxFl"> Location:
                                  <%= product.location %>
                                </li>
                                <li class="boxFl">Date:
                                  <%= product.date %>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <% include ./parts/footer.ejs %>
</body>

</html>